'fileTypes': [
  'todo.txt'
]
'name': 'TodoTXT'
'patterns': [
  {
    'match': '^\\([A-Z]\\)'
    'name': 'constant.language.todotxt.priority'
  }
  {
    'match': '(?:^|t:|(?<=^\\([A-Z]\\)\\s))\\d{4}-\\d{2}-\\d{2}'
    'name': 'constant.language.todotxt.date'
  }
  {
    'match': 'due:\\d{4}-\\d{2}-\\d{2}'
    'name': 'constant.language.todotxt.due'
  }
  {
    'match': ' (\\@\\S*)'
    'captures': {
      '1': {
        'name': 'entity.name.tag.todotxt.context'
      }
    }
  }
  {
    'match': ' (\\+\\S+)'
    'captures': {
      '1': {
        'name': 'entity.name.tag.todotxt.project'
      }
    }
  }
  {
    'match': '^x\\s.*$'
    'name': 'comment.line.todotxt'
  }
]
'scopeName': 'text.todotxt'
